#nav {
    text-align: center;
    height: 4.25em;
    cursor: default;
}

#nav a {
    position: relative;
    display: inline-block;
    color: #000000;
    width: 1em;
    height: 1em;
    line-height: 0.9em;
    font-size: 2.5em;
    margin: 0 0.25em 0 0.25em;
    opacity: 0.35;
    outline: 0;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    -ms-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

#nav a.icon:before {
    padding-right: 0;
}

#nav a:before {
    font-size: 0.8em;
}

#nav a span {
    position: absolute;
    background: #222222;
    color: #ffffff;
    top: -2.75em;
    font-size: 0.3em;
    height: 2.25em;
    line-height: 2.25em;
    left: 50%;
    opacity: 0;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    -ms-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    width: 5.5em;
    margin-left: -2.75em;
}

#nav a span:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -0.4em;
    left: 50%;
    margin-left: -0.6em;
    border-top: solid 0.6em #222222;
    border-left: solid 0.6em transparent;
    border-right: solid 0.6em transparent;
}

#nav a:hover {
    opacity: 1.0;
}

#nav a:hover span {
    opacity: 1.0;
}

#nav a.active {
    opacity: 1.0;
}

#nav a.active:after {
    border-bottom-width: 0.5em;
}

@media screen and (max-width: 980px) {
    #nav a span {
        display: none;
    }
}


/* Wrapper */

#wrapper {
    width: 45em;
    margin: 0 auto;
    min-height: 100vh;
    max-width: 100%;
    padding: 4em 0;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

body.is-preload #wrapper {
    opacity: 0;
}

@media screen and (max-width: 1280px) {
    #wrapper {
        padding: 3em 0;
        max-width: calc(100% - 6em);
    }
}

@media screen and (max-width: 980px) {
    #wrapper {
        padding: 1.5em 0;
        max-width: calc(100% - 8em);
    }
}

@media screen and (max-width: 736px) {
    #wrapper {
        padding: 1em 0;
        max-width: calc(100% - 2em);
    }
}

@media screen and (max-width: 360px) {
    #wrapper {
        padding: 1em 0;
        max-width: 100%;
    }
}